#impact {
	font-size: x-large;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px black;
	color: #57b23b;
	margin: 50px 0px;
	font-weight: bold;
}

.input-field {
	margin-bottom: 20px;
}
